body {
  background-color: #1d1e22;
}

#topnav {
  background-color: #393f4d;
}

.capshadow {
	text-shadow: 1px 1px 1px black;

}

.cardbg {
	background-color: silver;
}


hr {
	border-top: 1px solid silver;
}

#logo {
	border: 3px solid orange;
	border-radius: 25px;
}

.MV {
	width: 100%;
	border-radius: 10px;
}

.googmap {
	border: 2.5px solid darkgray;
	border-radius: 	25px;
}

.imgborder {
	border-radius: 25px;
}



/*# sourceMappingURL=style.css.map */
